@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #c3c9b4;
    border-radius: 10px;
  }
}

@layer utilities {
  .magic-border {
    position: relative;
    background: linear-gradient(var(--tw-surface-container-lowest), var(--tw-surface-container-lowest)) padding-box,
                linear-gradient(to right, #81B441, #10B981) border-box;
    border: 1px solid transparent;
  }
}
